version: '2'
services:
  sprinkler:
    build: .
    devices: 
      - "/dev/mem:/dev/mem"
    cap_add:
      - SYS_RAWIO
    ports:
      - "8080:8080"
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime
      - /etc/timezone:/etc/timezone
